<form id="bt_user_from" class="form">
    <table align="center">
        <tr>
            <td>玩家姓名：</td>
            <td><input name="name" type="text" value="{$data.name}" class="easyui-validatebox" required="required" /></td>
        </tr>
        <tr>
            <td>玩家机签：</td>
            <td><input name="bid" type="text" value="{$data.bid}"  class="easyui-validatebox" required="required"/></td>
        </tr>
        <tr>
            <td>描述：</td>
            <td>
                <textarea name="description" style="width: 348px;resize: none;height: 60px;">{$data.description}</textarea>
            </td>
        </tr>
    </table>
    <input type="hidden" name="id" value="{$data.id}">
</form>