/*------------------all begin------------------*/
body{
	padding: 0px;
	margin: 0px;
	font-family: '微软雅黑';
	font-size: 12px;
	color: #000000;
}
table{
	border-spacing: 0px;
	border-collapse:collapse;
}
a,input[type="checkbox"],input[type="radio"]{
	cursor: pointer;
}
a:hover{
	color: #e73737;
}
input[type="text"],input[type="number"],input[type="password"]{padding: 3px;}
button{
	border: 0px;
	padding: 7px 20px 7px 20px;
	font-weight: bold;
	cursor: pointer;
}
img{vertical-align:middle;}
#width1000{width: 1000px;}
#width1200{width: 1200px;}
.mask{
	position:absolute;
	z-index:1;
	filter:alpha(opacity=60);
	background:#666;
	opacity: 0.6;
	-moz-opacity: 0.6;
	left:0;
	top:0;
	height:100%;
	width:100%;
	display: none;
}
.alertMask{
	position:absolute;
	z-index:5;
	filter:alpha(opacity=80);
	background:#666;
	opacity: 0.8;
	-moz-opacity: 0.8;
	left:0;
	top:0;
	height:100%;
	width:100%;
	display: none;
}
.ceng,.cengBG,.alert,.alertBG{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	display: none;
}
.cengBG{z-index: 3;}
.ceng{z-index: 4;}
.alertBG{z-index: 6;}
.alert{z-index: 7;}
#closeCeng,#closeAlert{
	text-align: right;
	height: 30px;
}
#cengA,#alertA{
	text-align: right;
	height: 30px;
}
#closeCeng img,#closeAlert img{
	position: relative;
	top: 20px;
	left: 15px;
	cursor: pointer;
}
#cengContent,#alertContent{
	border: 3px solid #29E1C6;
}
#cengB,#alertB{
	background: black;
	filter:alpha(opacity=90);
	background:#666;
	opacity: 0.9;
	-moz-opacity: 0.9;
}
.backDIV{
	position: absolute;
	display: none;
}
.backDIV img{width: 20px;margin-right: 3px;}
.backDIV a{text-decoration: underline;color: #006699;}
.loadingMask{
	position:absolute;
	z-index:8;
	filter:alpha(opacity=60);
	background:#151515;
	opacity: 0.6;
	-moz-opacity: 0.6;
	left:0;
	top:0;
	height:100%;
	width:100%;
	text-align: center;
	color: #ffffff;
	display: none;
}
.loadingMask img{
	width: 40px;
	margin-right: 5px;
}
/*------------------all end------------------*/


/*------------------main begin------------------*/
#mainContent{
	position: absolute;
	top: 0px;
	z-index: 1;
	width: 100%;
	text-align: center;
}
#main1200{width: 1200px;}
#main1200 #top{
	margin-top: 22px;
	margin-bottom: 45px;
	background-repeat: no-repeat;
	border-bottom: 2px solid #000000;
	height: 55px;
	font-weight: bold;
}
#mainLogo{
	width: 100%;
	height: 104px;
	background-image: url(../img/logo.png);
	background-position:center; 
	background-repeat:no-repeat;
}
#main1200 #top #topLeft{float: left;margin-top: 30px;}
#main1200 #top #topRight{float: right;margin-top: 30px;}
#main1200 #top a{margin-left: 5px;margin-right: 5px;}
#main1200 #ife{width: 100%;}
#main1200 #contentDiv{width: 100%;}
/*------------------main end------------------*/


/*------------------selectMaker begin------------------*/
#selectMakerBar{
	position: absolute;
	z-index: 2;
	width: 1200px;
	overflow-x: none;
	overflow-y: none;
}
#selectMakersDiv div{
	float:left;
	width: 154px;
	height: 550px;
	cursor: pointer;
	color: #ffffff;
	margin-right: 20px;
	margin-bottom: 10px;
}
#selectMakersDiv div:hover{
	color: #e73737;
}
#selectMakersDiv img{
	position: absolute;
	display: none;
}
#selectMakersDiv span{
	position: absolute;
	display: none;
	font-weight: bold;
	font-size: 24px;
	transform: rotate(-90deg); 
	-o-transform: rotate(-90deg); 
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	width: 400px;
	text-align: left;
}
/*------------------selectMaker end--------------------*/


/*------------------selectGame begin------------------*/
#makerName{
	float: left;
	height: 550px;
	width: 50px;
	cursor: pointer;
	background: #05A2E9;
}
#makerName span{
	display: none;
	color: #ffffff;
	position: absolute;
	font-weight: bold;
	font-size: 24px;
	transform: rotate(-90deg); 
	-o-transform: rotate(-90deg); 
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	width: 600px;
	text-align: left;
}
#gameName{
	width: 1145px;
	height: 550px;
	float: right;
	overflow-y: auto;
	overflow-x: hidden;
}
#gameName ul{
	list-style:none;
	margin:0px;
	padding: 0px;
}
#gameName ul li{
	width: 1110px;
	height: 80px;
	margin-bottom: 14px;
	background: #83AEE3;
	cursor: pointer;
	color: #ffffff;
}
#gameName ul li:hover{
	color: #e73737;
}
#gameName ul li span{
	float: right;
	font-size: 24px;
	font-weight: bold;
	padding: 43px 5px 6px 5px;
}
#gameName ul li img{
	float: left;
	display: none;
}
/*------------------selectGame end------------------*/


/*------------------selectMaker begin------------------*/
#rank{
	width: 1145px;
	height: 450px;
	float: right;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 10px;
}
#rank table{
	width: 1123px;
	height: 1px;
	margin-bottom: 10px;
	color: #ffffff;
	background-repeat: no-repeat;
	background-position:top right;
	background-image: url(../img/rankBG1.png);
	background-size:100% 100%; 
	margin-left: 20px;
	cursor: pointer;
}
#rank table td{
	font-size: 16px;
	text-align: left;
	padding: 5px 30px 5px 30px;
}
.rankInfo{display: none;}
.rankInfo td{font-size: 12px;color:#ffffff;}
#rank table:hover{
	color: #e73737;
}
#rank td img{vertical-align:top;}
#rankLogo{text-align: left;margin-bottom: 10px;cursor: pointer;}
#rankLogo img{margin-left: 26px;height: 86px;}
#rankTitle1{
	position: absolute;
	display: none;
	width: 1200px;
	text-align: right;
	font-size: 14px;
}
#rankOption{
	list-style:none;
	margin:0px;
	padding: 0px;
	width: 1200px;
	position: absolute;
	top: 500px;
	display: none;
}
#rankOption li{
	float: left;
	font-size: 14px;
	text-align: left;
	padding-top: 10px;
	border-top: 1px solid #ABADB3;
}
/*------------------selectMaker end------------------*/

/*------------------delivery start------------------*/
.greenBtn{
	background: #538083;
	color: #DFEEE9;
}
#deliveryFD{
	margin: 10px;
	padding: 10px 10px 15px 10px;
	text-align: left;
	color: #DFEEE9;
	border: 2px solid #538083;
}
#deliveryFD legend{
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	color: #DFEEE9;
	padding: 0px 5px 0px 5px;
}
#deliveryFD span{
	font-size: 12px;
	text-align: left;
	color: #FF9966;
	margin-left: 5px;
	margin-right: 5px;
}
#deliveryFD table td{
	height: 40px;
}
#deliveryFD table td span{
	color: #e73737;
	margin-right: 3px;
}
	
#deliveryFD input[type="text"],#deliveryFD input[type="number"]{width: 250px;}
#deliveryFD select{width: 260px;}
#deliveryFD textarea{width: 255px;resize: none;}
#deliveryFD textarea{height: 50px;}
/*------------------delivery end------------------*/


/*------------------all radius start------------------*/
#cengContent,#alertContent,.deliveryDiv,#cengB,#alertB{
	-moz-border-radius: 8px;      
    -webkit-border-radius: 8px;   
    border-radius:8px;
}
#selectMakersDiv div,#selectMakersDiv img,#deliveryFD,button,input[type="text"],input[type="number"],input[type="password"],textarea
,select,#rankLogo img,#makerName,#gameName ul li{
	-moz-border-radius: 4px;      
    -webkit-border-radius: 4px;   
    border-radius:4px;
}
/*------------------all radius end------------------*/

