<script src="js/custom/delivery.js" type="text/javascript"></script>

<fieldset id="deliveryFD">
    <legend>成绩投递</legend>
    <table>
    	<tr>
    		<td><span>*</span>厂商：</td>
    		<td>
    			<select id="selectMaker">
    				<option value="-1">请选择</option>
    			</select>
    		</td>
    	</tr>
    	<tr>
    		<td><span>*</span>游戏：</td>
    		<td>
    			<select id="selectGame">
    				<option value='-1'>请选择</option>
    			</select>
    		</td>
    	</tr>
    	<tr>
    		<td><span>*</span>玩家机签：</td>
    		<td>
    			<input id="user_bid" type="text" maxlength="50"/>
    		</td>
    	</tr>
    	<tr>
    		<td>玩家名：</td>
    		<td>
    			<input id="user_name" type="text" maxlength="50"/>
    		</td>
    	</tr>
    	<tr>
    		<td><span>*</span>分数：</td>
    		<td>
    			<input id="score" type="number" maxlength="20" onkeyup='this.value=this.value.replace(/\D/gi,"")'/>
    		</td>
    	</tr>
    	<tr>
    		<td>模式：</td>
    		<td>
    			<select id="selectModel">
    				<option>请选择</option>
    			</select>
    		</td>
    	</tr>
    	<tr>
    		<td>机体：</td>
    		<td>
    			<select id="selectType">
    				<option>请选择</option>
    			</select>
    		</td>
    	</tr>
    	<tr>
    		<td><span>*</span>平台：</td>
    		<td>
    			<select id="selectSpace">
    				<option value="-1">请选择</option>
    			</select>
    		</td>
    	</tr>
    	<tr>
    		<td>玩家留言：</td>
    		<td>
    			<textarea id="comment" maxlength="500"></textarea>
    		</td>
    	</tr>
    	<tr>
    		<td>成绩获得地：</td>
    		<td>
    			<input id="loaction" type="text" maxlength="50"/>
    		</td>
    	</tr>
    	<tr>
    		<td>成绩获得时间：</td>
    		<td>
    			<input id="time" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'});" readonly="readonly"/>
    		</td>
    	</tr>
    	<tr>
    		<td>成绩相关资源：</td>
    		<td>
    			<input id="source" type="text" maxlength="120"/>
    		</td>
    	</tr>
    </table>
 </fieldset>
 
 <button id="sub" class="greenBtn">OK</button>
