<fieldset id="deliveryFD">
    <legend>用户登录<span>(*&nbsp;温馨提示：可以使用niyaozao网站的账号进行登录&nbsp;*)</span></legend>
    <table>
    	<tr>
    		<td>用户名：</td>
    		<td>
    			<input id="account" type="text" maxlength="50"/>
    		</td>
    	</tr>
    	<tr>
    		<td>密码：</td>
    		<td>
    			<input id="password" type="password" maxlength="50"/>
    		</td>
    	</tr>
    	<tr>
    		<td style="height: 20px;"></td>
    		<td style="height: 20px;">
    			<input id="reName" type="checkbox"/>
    			记住用户名
    		</td>
    	</tr>
    </table>
</fieldset>

<button id="sub" class="greenBtn">登录</button>

<script>
	$(function(){
		if("" != $.cookie("account")){
			$("#account").val($.cookie("account"));
			$("#reName").attr("checked",true);
		}
		$("#sub").click(function(){
			var acc = $("#account").val();
			var pwd = $("#password").val();
			if("" == acc){
				alert("请输入用户名");
				return;
			}
			if("" == pwd){
				alert("请输入密码");
				return;
			}
			if($("#reName").attr("checked")=="checked"){
				$.cookie("account",acc,{expires : 365});
			}else{
				$.cookie("account", "");
			}
			$.ajax({
				type:'post',
				url:"http://ranking.niyaozao.com/frontapi/api/Public/dologin",
				data: {account:acc,password:pwd,},
				success:function(res){
					var status = res.status;
					if(status){
						location.reload();
					}else{
						alert(res.msg);
					}
				}
			});
		});
		$(document).keydown(function(event){ 
			var e = event || window.event || arguments.callee.caller.arguments[0];
			 if(e && e.keyCode==13){ 
			 	$("#sub").click();
             }
		}); 
	});
</script>

<style>
	#deliveryFD input[type="text"],#deliveryFD input[type="password"],#deliveryFD textarea,select{width: 340px;}
	input[type="checkbox"]{position: relative;top:3px;}
</style>
