		<script src="js/custom/rank.js" type="text/javascript"></script>
		
		<div id="makerName" title="点我返回选择游戏"><span>&nbsp;</span></div>
		
		<div id="rankLogo"><img src="?" onerror="this.src='img/gameImg.png';"/></div>
		
		<div id="rankTitle1">标准难度&nbsp;/&nbsp;TYPEA&nbsp;/&nbsp;仅显示MAME成绩</div>
		<ul id="rankOption">
			<li style="width: 5%;">筛选器&nbsp;|&nbsp;</li>
			<li style="width: 20%;">
				模式类别：
				<select id="gameModel"></select>
			</li>
			<li style="width: 25%;">
				使用自机：
				<select id="gameType">
					<option value="">全部</option>
				</select>
			</li>
			<li style="width: 15%;">
				<!--到达关卡：
				<select>
					<option>全部</option>
				</select>-->
			</li>
			<li style="width: 35%;text-align: right;">
				游戏平台：
				<select id="gameSpace">
					<option value="">全部</option>
				</select>
			</li>
		</ul>
		
		<div class="backDIV"><img src="img/mus.png"/><a onclick="toUrl('selectGames.html');">返回上一级</a></div>
