<include file="Public:common" />
<div class="easyui-layout" fit="true">
    <div region="north" style="height: 70px;border-bottom: none;">
        <form id="bt_rank_search_from">
            <table style="height: 100%;">
                <tr>
                    <td>游戏：</td>
                    <td><select class="easyui-combobox" style="width: 130px;" data-options="
                valueField:'id',
                panelHeight:'auto',
                value:'{$data.game_id}',
                textField:'name',
                url:'__ROOT__/index/game/getDataNoPage',
                onChange:function(key){
                    var data = $(this).combobox('getData');
                    var thisData;
                    $('#model-search-combo').combobox('setValue','');
                    $('#type-search-combo').combobox('setValue','');
                    for(var i=0,length=data.length;i<length;i++){
                        if(key==data[i].id){
                            thisData=data[i];
                            break;
                        }
                    }
                    if(thisData){
                        if(thisData.model){
                            var models = thisData.model.split(',');
                            var model=[];
                            for(var i=0,length=models.length;i<length;i++){
                                model.push({value:models[i],text:models[i]})
                            }
                            $('#model-search-combo').combobox('loadData',model);
                        }
                        if(thisData.type){
                            var types = thisData.type.split(',');
                            var type=[];
                            for(var i=0,length=types.length;i<length;i++){
                                type.push({value:types[i],text:types[i]})
                            }
                            console.log(type);
                             $('#type-search-combo').combobox('loadData',type);
                        }
                        $('#space_combo').combobox('reload','__ROOT__/index/game/getSpace?gid='+key);
                    }
                }" name="game_id"></select></td>
                    <td>模式：</td>
                    <td><select id="model-search-combo" style="width: 130px;" class="easyui-combobox" data-options="panelHeight:'auto',editable:false" name="model"></select></td>
                    <td rowspan="2"><a href="javascript:void(0)" class="easyui-linkbutton" id="bt_rank_search_btn">查询</a> <a href="javascript:$('#bt_rank_search_from').find('.easyui-combobox').combobox('setValue','');" class="easyui-linkbutton">清空</a> </td>
                </tr>
                <tr>
                    <td>机体：</td>
                    <td><select style="width: 130px;" id="type-search-combo" class="easyui-combobox" data-options="panelHeight:'auto',editable:false" name="type"></select></td>
                    <td>状态</td>
                    <td><select class="easyui-combobox" data-options="panelHeight:'auto',editable:false" name="status"><option value="0">待审核</option><option value="1">审核通过</option><option value="2">审核未通过</option><option value="">全部</option></select></td>
                </tr>
            </table>
        </form>
    </div>
    <div region="center"><table id="bt_rank_grid"></table></div>
</div>
<html:script pack="BT.rank" src="/modual/rank.js"/>
