<form id="bt_org_from" class="form">
    <table align="center">
        <tr>
            <!--<td>父项：</td>-->
            <!--<td valign="middle"><input id="bt_org_comboTree"  name='pid' class="easyui-combotree" style="width:130px;" data-options="url:'__ROOT__/org/comboData?oid={$data['oid']}',valueField:'oid',textField:'oname',disabled:'{$data['oid'] != null}'" value="{$data['pid']==0?'':$data['pid']}"> <img src="__ROOT____IMG__/clear.png" onclick="$('#bt_org_comboTree').combotree('clear');" style="cursor: pointer;vertical-align:middle;"></td>-->
            <td>厂商名称：</td>
            <td><input name="name" type="text" value="{$data.name}" class="easyui-validatebox" required="required"/></td>
        </tr>
        <tr>
            <!--<td>主管：</td>-->
            <!--<td><select id="bt_org_combogrid" class="easyui-combogrid" name="manager" style="width:130px;"  -->
                        <!--data-options="  -->
                        <!--panelWidth:420,-->
                        <!--pagination:true,-->
                        <!--multiple:true,-->
                        <!--editable:false,-->
                        <!--idField:'uid',-->
                        <!--value:[{$data.manager}],-->
                        <!--textField:'uname',  -->
                        <!--url:'__ROOT__/org/combogridData?oid={$data.oid}',  -->
                        <!--columns:[[  -->
                        <!--{field:'uname',title:'姓名',width:100},  -->
                        <!--{field:'account',title:'账号',width:100},-->
                        <!--{field:'mail',title:'邮箱',width:120}-->
                        <!--]]  -->
                        <!--"></select> <img src="__ROOT____IMG__/clear.png" onclick="$('#bt_org_combogrid').combogrid('clear');" style="cursor: pointer;vertical-align:middle;">-->
            <!--</td>-->
            <td>排序：</td>
            <td><input name="rank" type="text" class="easyui-numberbox" value="{$data.rank|default=0}" data-options="min:0,precision:0"/></td>
        </tr>
        <tr>
            <td>描述：</td>
            <td colspan="3"><textarea name="description"style="width: 345px;resize: none;height: 50px;">{$data.description}</textarea></td>
        </tr>
        <tr>
            <td>资源文件：</td>
            <td colspan="3"><input name="source" style="width: 345px;" value="{$data.source}"/></td>
        </tr>
    </table>
    <input type="hidden" name="id" value="{$data.id}">
</form>